In [1]:
import streamlit as st
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")
name = pd.read_csv("name.csv")
result = pd.read_csv("result.csv")

In [3]:
data

   pk ユーザー名  問題番号 問題レベル   回答時間   点数
0   3  heku  D154     D  1分27秒  100
1   4  heku  D151     D  2分49秒   40

In [4]:
name

                       タイムスタンプ ユーザー名    本名
0  2021/06/24 8:29:34 午前 GMT+9  heku  梅野晶良

In [5]:
data_merge = pd.merge(data, name, on='ユーザー名')

In [6]:
data_merge = data_merge.drop(["pk", "問題番号", "回答時間", "タイムスタンプ", "ユーザー名"], axis=1)
data_merge

  問題レベル   点数    本名
0     D  100  梅野晶良
1     D   40  梅野晶良

In [7]:
result_merge = pd.merge(result, name, on='ユーザー名')
result_merge = result_merge.drop(["pk", "タイムスタンプ", "ユーザー名"], axis=1)
result_merge

   提出数    合計点  平均点    本名
0  245  21798   89  梅野晶良

In [8]:
data_merge = data_merge[["本名", "問題レベル", "点数"]]
result_merge = result_merge[["本名", "提出数", "合計点", "平均点"]]

In [9]:
data_merge

     本名 問題レベル   点数
0  梅野晶良     D  100
1  梅野晶良     D   40

In [10]:
result_merge

     本名  提出数    合計点  平均点
0  梅野晶良  245  21798   89

In [11]:
change_level = {
    "D": 1,
    "C": 2,
    "B": 3,
    "A": 4
}

In [12]:
data_merge["問題レベル"] = data_merge["問題レベル"].map(change_level)

In [13]:
data_merge

     本名  問題レベル   点数
0  梅野晶良      1  100
1  梅野晶良      1   40

In [14]:
data_sum = data_merge[["本名", "問題レベル"]].groupby(by=["本名"], as_index=False).sum()

In [15]:
data_sum

     本名  問題レベル
0  梅野晶良      2

In [16]:
data_mean = data_merge[["本名", "点数"]].groupby(by=["本名"], as_index=False).mean()

In [17]:
data_mean

     本名  点数
0  梅野晶良  70

In [18]:
result_data = pd.merge(data_sum, data_mean, on='本名')
result_data = pd.merge(result_data, result_merge, on='本名')

In [19]:
result_data.

     本名  問題レベル  点数  提出数    合計点  平均点
0  梅野晶良      2  70  245  21798   89

In [22]:
for d in result_data:
    print(d)

本名
問題レベル
点数
提出数
合計点
平均点

In [ ]:
result_data.to_excel